.our-foods {
    margin: 50px 0;

    &__wrapper {
        display: flex;
        flex-direction: column;

        // align-items: center;
        // text-align: center;
        width: 100%;

        h2 {
            font-family: 'Tinos';
            font-style: normal;
            font-weight: normal;
            font-size: 54px;
            margin-bottom: 20px;

            .orange {
                color: #BC9060;
            }
        }

    }

    &__menu {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__menu_img {
        


        .menu__img_items {
            display: flex;
            flex-direction: column;
            height: 100%;
        
        .menu__img_item{
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            height: 100%;
            .item__two{
                border: 1px solid blue;
                
            }
        }
    }
}
}